body {
    text-align: center;
}

h1 {
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    margin-left: 38%;
    text-align: center;
    border: solid 3px rgb(103, 11, 16);
    background-color: rgb(124, 196, 128);
}

tr {
    border: solid 2px rgb(94, 142, 22);
    padding: 2px;
}

td {
    border: solid 2px rgb(94, 142, 22);
    padding: 2px;
}

th {
    background-color: rgb(94, 142, 22);
    border-bottom: solid 2px black;
    padding: 8px;
}
