form {
    text-align: center;
    padding: 4px;
}

p {
    padding: 14px;
}

input {
    padding: 4px;
    width: 14%;
}

button {
    background-color: rgb(154, 193, 77);
    padding: 1em;
    border-radius: 8%;
    font-weight: bold;
    width: 8%;
}

button:hover {
    background-color: rgb(111, 137, 3);
}

body {
    text-align: center;
}